
    <main id="main">
        <!-- ======= About Section ======= -->
        @Html.Partial("about")
        <!-- End About Section -->
        <!-- ======= Pendidikan Section ======= -->
        @Html.Partial("pendidikan")
        <!-- End Pendidikan Section -->
        <!-- ======= Skills Section ======= -->
        @Html.Partial("skill")
        <!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        @Html.Partial("portfolio")
        <!-- End Resume Section -->
        <!-- ======= Sertifikasi Section =======-->
        @Html.Partial("sertifikasi")
        <!-- ======= Contact Section ======= -->
        @Html.Partial("kontak")
        <!-- End Contact Section -->
    </main><!-- End #main -->
